//
// Define SCSS functions here.
//

$path-assets: '../';
$path-fonts: '../fonts/';
$path-images: '../images/';

@function asset-url($path) {
  @return url('#{$path-assets + $path}');
}

@function font-url($path) {
  @return url('#{$path-fonts + $path}');
}

@function image-url($path) {
  @return url('#{$path-images + $path}');
}
