.loading {
  position: absolute;
  height: 2px;
  background: linear-gradient(
    to bottom,
    lighten($primary, 25%) 0%,
    $primary 100%
  );

  &::after {
    position: absolute;
    right: 0;
    display: block;
    width: 100px;
    height: 100%;
    content: '';
    box-shadow:
      0 0 10px $primary,
      0 0 5px $primary;
    opacity: 1;
    transform: rotate(3deg) translate(0, -4px);
  }
}
