//
// Define SCSS variables here.
//

// Colors
$white: #fff;
$black: #000;

$pampas: #f5f2f0;
$dusty-gray: #999;
$slategray: #708090;
$sail: #b3d4fc;
$deep-cerulean: #07a;
$limeade: #690;
$cabaret: #dd4a68;
$fresh-eggplant: #905;
$tangerine: #e90;
$sepia-skin: #9a6e3a;

// Footer
$footer-height: 100px;
