//
// Define SCSS variables here.
//

// Colors
$white: #FFF;
$black: #000;

$pampas: #F5F2F0;
$dusty-gray: #999;
$slategray: #708090;
$sail: #B3D4FC;
$deep-cerulean: #07A;
$limeade: #690;
$cabaret: #DD4A68;
$fresh-eggplant: #905;
$tangerine: #E90;
$sepia-skin: #9A6E3A;

// Footer
$footer-height: 100px;
