.dockerignore
.editorconfig
.env*
.eslintrc.js
.git/
.github/
.gitignore
.idea/
.prettierignore
.prettierrc
.remarkrc
.stylelintrc.js
.vscode/
.yarn/

*.log
CHANGELOG.md
Dockerfile
build/
docker-stack.yml
node_modules/
