{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true
  },
  "parser": "babel-eslint",
  "plugins": ["react", "import"],
  "rules": {
    "import/no-unresolved": 0,
    "no-console": 0
  },
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  }
}
