.github {
  display: inline-block;
  line-height: 1.5;
  text-align: left;
  vertical-align: middle;

  a,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    padding: $nav-link-padding-y $navbar-nav-link-padding-x;
    line-height: 1.5;
  }

  span {
    padding: $nav-link-padding-y 0.25rem;
    line-height: 0;
  }
}
