$progress-color: $black;
$progress-height: 2px;

:global {
  .loader-60devs {
    height: $progress-height;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 250ms 250ms;
    z-index: 10000;

    &-progress {
      background: linear-gradient(to bottom, lighten($progress-color, 25%) 0%, $progress-color 100%);
      height: $progress-height;
      transform: translateX(-100%);
      transition-duration: 12s;
      transition-property: transform, opacity;
      transition-timing-function: cubic-bezier(.04, .9, .11, .9);
      width: 100%;

      &::after {
        box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color;
        content: '';
        display: block;
        height: 100%;
        opacity: 1;
        position: absolute;
        right: 0;
        transform: rotate(3deg) translate(0, -4px);
        width: 100px;
      }
    }

    &[data-state="hidden"] {
      display: none;
    }

    &[data-state="running"] {
      &::before {
        content: '';
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999999;
      }

      .loader-60devs-progress {
        transform: translateX(0);
      }
    }

    &[data-state="finishing"] {
      opacity: 0;

      .loader-60devs-progress {
        transform: scaleX(100) translateX(0);
      }
    }
  }
}
