.footer {
  margin-top: $grid-gutter-width;
  text-align: center;

  h6 {
    display: inline-block;
  }

  ul {
    display: inline-block;
    padding: 0;
    margin: 0 1rem;
    vertical-align: middle;
    list-style: none;
  }

  li {
    margin-right: divide($grid-gutter-width, 2);

    &:last-child {
      margin-right: 0;
    }
  }

  :global {
    .container {
      padding: 1rem 0;
      box-shadow: 0 -1px 0 transparentize($black, 0.9);
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    margin-top: divide($grid-gutter-width, 2);
    font-size: 0.85em;
    vertical-align: middle;

    .content {
      padding-top: divide($grid-gutter-width, 2);
      padding-bottom: divide($grid-gutter-width, 2);
    }

    ul {
      display: block;
      margin: 0 0 0.25rem;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    :global {
      .container {
        padding: 0.5rem 0;
      }
    }
  }
}
