.footer {
  margin-top: $grid-gutter-width;
  text-align: center;

  :global .container {
    box-shadow: 0 -1px 0 transparentize($black, 0.9);
  }

  .content {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }

  .github {
    display: inline-block;
    height: 3rem;
  }

  ul {
    display: inline-block;
    padding: 0;
    line-height: 1.5;
    vertical-align: middle;
    list-style: none;
  }

  li {
    margin-right: divide($grid-gutter-width, 2);
    line-height: 1.5;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    margin-top: divide($grid-gutter-width, 2);
    vertical-align: middle;

    .content {
      padding-top: divide($grid-gutter-width, 2);
      padding-bottom: divide($grid-gutter-width, 2);
    }

    ul {
      display: block;
      text-align: center;
    }

    li {
      display: inline-block;
    }
  }
}
