.home {
  position: relative;

  .jumbotron {
    background: transparent;
    text-align: center;
  }

  .versions {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      display: inline-block;
      margin-right: 20px;
    }

    li:last-child {
      margin-right: 0;
    }

    .description {
      display: none;
      vertical-align: middle;
    }

    svg {
      display: inline-block;
      height: 96px;
      vertical-align: middle;
      width: 96px;
    }
  }

  .markdown {
    h1,
    h2 {
      border-bottom: 1px solid rgba($black, .1);
      margin-bottom: 16px;
      margin-top: 1em;
      padding-bottom: .3em;
    }

    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 16px;
      margin-top: 1em;
    }

    ul,
    ol {
      overflow: hidden;

      input[type="checkbox"] {
        display: inline-block;
        margin: 0 .5em .25em -1.6em;
        vertical-align: middle;
      }
    }

    blockquote {
      border-left: 4px solid $gray-300;
      color: $gray-600;
      padding: 0 ($grid-gutter-width / 2);
    }

    :not(pre) > code:not([class*="language-"]) {
      background: transparentize($gray-900, .95);
      border-radius: 3px;
      color: darken($slategray, 30%);
      font-size: .85em;
      padding: .15em 0;

      &::before,
      &::after {
        content: '\00a0';
        letter-spacing: -.2em;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .home {
    .versions {
      svg {
        height: 64px;
        width: 64px;
      }
    }
  }
}
